*.Rcheck/
*.tar.gz
*.Rproj.user/
.RData
.Rhistory
.Rproj.user
/docs/
/inst/doc/
vignettes/*.html
vignettes/*.pdf
vignettes/*_cache/
vignettes/*_files/
_pkgdown.yml.lock
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode/
logs/
*.rlog
outputs/
cache/.DS_Store
docs
pkgdown
